[Unit]
Description=Container Security Monitor scheduled scan

[Timer]
OnCalendar=*-*-* 22:00:00
Persistent=true
RandomizedDelaySec=0m
Unit=container-security-scan.service

[Install]
WantedBy=timers.target
